#bio p {
    line-height: 1.5;
    font-size: medium;
    font-weight: bolder;
}

.navbar.navbar-expand-lg {
    margin-bottom: 10px;
}

li {
    padding: 10px 20px;
}

.list-group-flush a {
    color: royalblue;
    font-size: medium;
    font-weight: bolder;
}

body {
    background-image: url("assets/background.jpg");
    background-position: center;
    background-size: cover;
}

.card {
    background: rgba(76, 175, 80, .1);
}

#bio {
    color: darkslateblue;
}

h1 {
    font-weight: bolder;
}

#links {
    margin-bottom: 30px;
}

figcaption {
    font-weight: bold;
    color: royalblue;
}